################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CWBlue/CWBlue/CWBlue/obj
/CWBlue/CWBlue/CWBlue.Android/obj
/CWBlue/CWBlue/CWBlue.iOS/obj
/CWBlue/CWBlue/CWBlue.UWP/obj
/CWBlue/.vs/CWBlue/v15/Server/sqlite3/db.lock
